.header-div {
    position: fixed; 
    width: 100%;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    max-height: 50px;
    background-color: rgb(37, 59, 37);
    border: 1px solid rgb(31, 31, 31);
    line-height: 10px;
    align-items: center;
  }

.name-div{
  /* position: relative; */
  justify-content: center;
  align-items: center; 
  text-align: center;
  float: center;
  padding: 0px;
  
}
  #header-name{
    font-size: 30px;
    float: center;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }

  .sign-in-div{
    position: relative;
    justify-content: right;
    align-items: right;
    padding: 15px;
  }

  #sign-in-button{
    float: right;
    width: 6vw;
    background-color: #e4b701;
    border: 1px solid rgb(31, 31, 31);
    border-radius: 1px;
  }

  .menu-div{
    position: relative; 
    justify-content: left;
    align-items: left;
    padding: 15px;
  }

  #menu-button{
    float: left; 
    background-color: #e4b701;
    border: 1px solid rgb(31, 31, 31);
    border-radius: 1px;
  }
  
