.leaderboard-div {
  width: 50vw;
  justify-content: space-around; 
  border: 2px solid black;
  background-color: rgb(56, 89, 56);
  border-radius: 10px;
}

.leaderboard-header{
  width: 20vw;
  align-items: left;
  background-color: rgb(125, 173, 115);
  border: 2px solid black; 
  margin:15px;
  width: auto;
  height: auto; 
  border-radius: 10px;
}

.players-div{
  margin:15px;
  width: 40vw;
  margin: 10 auto;
  display: grid;
  grid-template-columns: 1fr ;
  grid-gap: 2px;
  grid-area: main;
  justify-content: right; 
}

.Players-search-box{
  margin: 15px;
  width: 200px; 
  background-color: rgb(89, 125, 89);
  border: 2px solid black;
  color: black;
}

::placeholder { /* Most modern browsers support this now. */
  color:    rgb(210, 210, 210);
}



  /* .leaderboard-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 1px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  } */
/*   
  .leaderboard-div:hover {
    transform: scale(1.05);
  } */