/* 
.leaderboard-div{
  grid-area: Leaderboard;
  margin: 30px; 
  border: 1px solid rgb(31, 31, 31);
  border-radius: 12px;
  padding: 20px;
  background-color: rgb(45, 88, 45)
}


.leaders-div {
    margin:15px;
    width: 40vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 0px;
    grid-area: main;
    justify-content: right; 
    
  } */


.leaderboard-div {
  margin:15px;
  width: 40vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr ;
  grid-gap: 2px;
  grid-area: main;
  justify-content: right; 
}


  /* .leaderboard-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 1px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  } */
/*   
  .leaderboard-div:hover {
    transform: scale(1.05);
  } */