html{
    background-color: rgb(125, 173, 115);
   height: 100%;
   width: 100%; 
   padding: 0px !important;
}

.App{
    
    display: grid; 
    grid-template-rows: 1fr ; 
    grid-template-columns: 1fr 1fr; 
    grid-area: 
    "'Tournment' 'Leaderboard'";
    margin: 90px; 
}



