html{
    background-color:  rgb(89, 125, 89);
   height: 100%;
   width: 100%; 
   padding: 0px !important;
   overflow: hidden;
}

.App{
    display: grid; 
    grid-template-rows: auto; 
    grid-template-columns: 1fr 1fr; 
    grid-area: 
    "Tournment" "Leaderboard"
    "feed"  "Leaderboard";
    margin: 90px; 
    margin-top: 100px;
}





